*{
  font-family:  “Trebuchet MS”, Trebuchet, Arial, sans-serif;
  transition: all .1s ease-in;
}
body {
  background-color:#2A2A2A ;
  margin:0;padding:0;height:100%;
}
main + footer{
  background-color: #5D5858;
  color:#EB6666;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
}
.h{
  color: #EB6666;
}
.header{
   background-color: #5D5858;
   margin-left: 15px;
   margin-right: 15px;
   margin-top: -10px;
   margin-bottom: 15px;
   text-align: center;
   color:red;
   padding-top:30px;
}
div{
  color: white;
}
p:nth-child(n) {
  background-color:#CECECE;
}
p:nth-child(2n) {
  background-color: #6D7171;
}
p:hover{
  background-color: #5E297A;
  border-top: 5px solid white;
  border-right: 0px;
  border-bottom: 5px solid white;
  border-left: 0px; 
}
p:active{
  background-color: red;
}
input:checked + span {
  text-decoration:line-through;
  color: #938484;
}
.span1 {
  font-size:30px;
}
html:before, html:after, body:before { 
content:""; position:fixed; z-index:-1; top:0; left:0; right:0; bottom:0; border:15px solid white; 
}
html:after { 
z-index:30; top:auto; border-width:0 0 15px; 
}
body:before {
z-index:30; bottom:auto; border-width:15px 0 0; 
}
p {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
span.::before {
  content: '(';
}
span.::after {
  content: ')';
}
.qwe {
  transform:scale(2);
  opacity:0.9;
  cursor:pointer;
}
.text2 {
  margin-left: 20px;
}
/*.form-text [type="checkbox"]:checked + span {
  text-decoration: line-through;
  background-color: #806E6E;
  color: #a3a0b5;
}*/
label {
  display: block;
}
